{% extends "base.html" %}

{% block content %}

  <h1>About me</h1>
  <p>about</p>

  <p>{{ my_text }}, {{ my_number}}, {{ my_list }}</p>



<ul>
{% for my_sub_item in my_list %}

  {% if my_sub_item == 123 %}
    <li>{{ forloop.counter }} - {{ my_sub_item|add:22 }}</li>
  {% elif my_sub_item == "abc" %}
    <li>This is not the network.</li>
  {% else %}
    <li>{{ forloop.counter }} - {{ my_sub_item }}</li>
  {% endif %}


{% endfor %}
</ul>

{% endblock content %}

{% block footer %}

<br>adding extra information into the footer on about page

{% endblock footer %}

